/* Spinner Home */
.spinner-home-container {
  text-align: center;
  margin: 13rem;
}

.spinner-home {
  width: 5rem;
  height: 5rem;
}

/* Posting Cards */
.posting-container {
  border: solid 1px lightgray;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 5px;
}

.posting-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Company left card */
.posting-head-left {
  display: flex;
  align-items: center;
}

.posting-company-logo {
  width: 10rem;
  height: 4rem;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0.5rem;
}

.posting-company-name-title {
  margin-left: 1rem;
  font-weight: 700;
  width: 20rem;
}

/* Company right card */
.posting-head-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.posting-company-name {
  padding: 0.15em 0.4em 0.1em;
  background: rgba(150, 150, 150, 0.06);
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom-width: 2px;
  border-radius: 3px;
  margin-left: 1rem;
}

.posting-blue {
  margin-left: 0.3rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/* Bottom Dec */
.posting-bottom-dec {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Search input */
.form-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-input {
  width: 25%;
  margin: 0 0.5rem;
}

.search-input-btn {
  width: 15%;
}

@media (max-width: 1000px) {
  .posting-head {
    display: block;
  }

  /* Company left card */
  .posting-head-left {
    display: block;
    text-align: center;
  }

  .posting-company-name-title {
    margin: 0;
    margin: 1rem auto;
  }

  /* Company right card */
  .posting-head-right {
    margin: 1rem auto;
    justify-content: center;
  }

  .read-btn {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .form-row {
    display: block;
  }

  .search-input {
    width: 100%;
    margin: 0.5rem 0;
  }

  .search-input-btn {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 600px) {
  /* Company right card */
  .posting-head-right {
    display: block;
    text-align: center;
    width: 15rem;
  }

  .posting-company-name {
    margin-bottom: 0.5rem;
  }
}
